body{
    background-color:gainsboro;
    display: flex;
    justify-content: center;
}

.wraper{
    margin: 60px;
    width: 500px;
    height: 900px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header{
    width: 100%;
    display: flex;
    justify-content:space-between;
    height: 10%;
    align-items: center;
}

header *{
    margin: 0px 10px 0px 10px;
}

.main{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.main__cover{
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.main__name{
    font-size: 30px;
    font-weight: 900;
}

.main__genre{
    font-weight: 600;
    color: rgba(0,0,0,0.4);
}

.main__btns{
    display: flex;
    justify-content: center;
}
.main__btns__shuffle{
    width: 140px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__btns__blank{
    width: 10%;
}

.main__btns__heart{
    width: 140px;
    height: 50px;
    border-radius: 25px;
    border:solid 1px gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__btns__heart div{
    color: rgba(0,0,0,0.6);
}



.list-section{
    display: flex;
    height: 320px;
    width: 100%;
    margin:20px 0 20px 0;
    justify-content: center;
}

.list-section__ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    justify-content: space-between;
    height: 300px;
    width: 100%;
}

.list-section__ul::-webkit-scrollbar{
    width: 10px;
}

.list-section__ul::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
}

.list-section__li{
    display: flex;
    height: 90px;
    width: 90%;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    align-items: center;
    position: relative;
}

.list-section__ul>:nth-child(odd) {
   background-color: rgba(0,0,0,0.03)
}


.list__cover{
    width: 70px;
    height: 70px;
    border-radius: 13px;
}

.list__text{
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px -40px;
}

.list__text *{
    padding: 4px;
}

.list__song{
    font-weight: 900;
}

.list__ellipsis{
    color: rgba(0,0,0,0.4);
    margin-right: 20px;
}

.controller{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    width: 95%;
    height: 80px;
    border-radius: 40px;
    color: white;
    background-color: black;
    justify-content:space-around;
    align-items: center;
}

.controller__text{
    display: flex;
    flex-direction: column;
}

.controller__artist{
    color: darkgray;
}

.controller__btns{
    width: 140px;
    display: flex;
    justify-content: space-evenly;
}

#big-player{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.album{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    margin-bottom: 30px;
    width: 100%;
}

.album__cover{
    width: 80%;
    height: 350px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 30px 15px grey;
}

.album__song{
    font-weight: 900;
    font-size: 35px;
}

.album__artist{
    font-size: 20px;
    color: grey;
}

.progress-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.progress-bar__time{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.progress-bar__time *{
    margin: 0 40px 0 40px;
}

.progress-bar__bar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.progress-bar__bar input{
    width: 90%;
}

.progress-bar__bar input[type=range]{
    -webkit-appearance: none;
    background-color: #ddd;
    border-radius: 15px;
}
.progress-bar__bar input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: black;
    height: 10px; width: 10px;   
    border-radius: 5px;
}

.player-controller{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player-controller>:nth-child(1), .player-controller>:nth-child(5){
    color: rgba(0,0,0,0.2);
}

.player-controller :nth-child(3){
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}